* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: rgb(188, 209, 233);
  width: 1250px;
  margin: 50px 50px;
  height: auto;
  padding: 200px 200px;
}
.box {
  background-color: white;
  width: 20rem;
  margin-left: 250px;
  border-radius: 20px;
}
img {
  width: 100%;
  height: auto;
}
.Qr {
  width: 18rem;
  margin: 15px 15px;
  border-radius: 10px;
}
h1 {
  font-size: x-large;
  font-weight: bolder;
  margin: 10px 25px;
  text-align: center;
}
p {
  font-size: larger;
  font-weight: 300;
  margin: 20px 20px;
  text-align: center;
  color: rgb(80, 77, 77);
  padding-bottom: 25px;
}
